<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" conten-ont="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <link rel="stylesheet" href="style.css">
    <title>Learning Vue3</title>
</head>

<body>
    <h1>Hello Vue</h1>
    <div id="app">
        <div v-if="showBooks">
            <ul>
                <li v-for="book in filteredBooks" :class="{fav: book.isFav}" @click="toggleFav(book)">
                    <img :src="book.img" :alt="book.title">
                    <h3>{{ book.title }}</h3>
                    <p>{{ book.author }}</p>
                </li>
            </ul>
        </div>

        <!-- <button v-on:click="age--">Decrease age</button>
        <button v-on:click="age++">Increase age</button>
        <div @click="changeTitle('Kevin')">Click me to change book title</div> -->

        <button @click="toggleShowBooks">
            <span v-if="showBooks">Hide Books</span>
            <span v-else>Show Books</span>
        </button>
        <!-- <div v-show='showBooks'>Currently Showing Books</div> -->

        <br>

        <!-- mouse events -->
        <!-- <div class="box" @mouseover="handleEvent($event, 5)">mouserover (enter)</div>
        <div class="box" @mouseleave="handleEvent">mouseleave</div>
        <div class="box" @dblclick='handleEvent'>double click</div>
        <div class="box" @mousemove="handleMousemove">position - {{ x }} {{ y }}</div> -->

    </div>
    <script src="app.js"></script>
</body>

</html>